### Ref. Datacamp

In [1]:
import pandas as pd

In [2]:
import keras

Using TensorFlow backend.

In [3]:
from keras.layers import Dense

In [4]:
from keras.models import Sequential

In [5]:
dfWages = pd.read_csv('./datasets/hourly_wages.csv')

In [6]:
dfWages.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [7]:
dfWages.shape

(534, 10)

In [8]:
dfWages.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
Xdata = dfWages.drop(['wage_per_hour'], axis = 'columns')

In [13]:
Xdata.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [14]:
ydata = dfWages['wage_per_hour']

In [15]:
Xdata.shape

(534, 9)

Let's start by specifying a model

In [16]:
numberNodes1 = 50
numberNodes2 = 32

In [17]:
model = Sequential()

In [18]:
model.add(Dense(numberNodes1, activation='relu', input_shape = (Xdata.shape[1], )))

In [19]:
model.add(Dense(numberNodes2, activation='relu'))

In [20]:
model.add(Dense(1))

Now that the model has been built, let's compile and fit it

In [21]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [22]:
model.fit(Xdata.values, ydata.values)

Epoch 1/1
534/534 [==============================] - 0s 388us/step - loss: 110.5543

In [23]:
Xdata.values

array([[ 0,  8, 21, ...,  0,  1,  0],
       [ 0,  9, 42, ...,  0,  1,  0],
       [ 0, 12,  1, ...,  0,  1,  0],
       ...,
       [ 1, 17, 25, ...,  0,  0,  0],
       [ 1, 12, 13, ...,  1,  0,  0],
       [ 0, 16, 33, ...,  0,  1,  0]])

In [24]:
model.predict(Xdata.values) - ydata.values

array([[  0.40342941,   0.55342941,  -1.16657059, ..., -17.74657059,
        -14.37657059,  -9.87657059],
       [  2.32082644,   2.47082644,   0.75082644, ..., -15.82917356,
        -12.45917356,  -7.95917356],
       [  0.61597815,   0.76597815,  -0.95402185, ..., -17.53402185,
        -14.16402185,  -9.66402185],
       ...,
       [  3.44563618,   3.59563618,   1.87563618, ..., -14.70436382,
        -11.33436382,  -6.83436382],
       [  1.11479607,   1.26479607,  -0.45520393, ..., -17.03520393,
        -13.66520393,  -9.16520393],
       [  4.07541599,   4.22541599,   2.50541599, ..., -14.07458401,
        -10.70458401,  -6.20458401]])

**Classification model**

In [25]:
from keras.utils import to_categorical

In [26]:
dfTitanic = pd.read_csv('./datasets/titanic_all_numeric.csv')

In [27]:
dfTitanic.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [28]:
dfTitanic.shape

(891, 11)

In [29]:
dfTitanicPredictor = dfTitanic.drop('survived', axis='columns')

In [30]:
modelC = Sequential()

In [31]:
modelC.add(Dense(32, activation='relu', input_shape=(dfTitanicPredictor.shape[1],)))

In [32]:
modelC.add(Dense(2, activation='softmax'))

In [33]:
modelC.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

In [34]:
dfTitanic.survived.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [37]:
to_categorical(dfTitanic.survived.head())

array([[ 1.,  0.],
       [ 0.,  1.],
       [ 0.,  1.],
       [ 0.,  1.],
       [ 1.,  0.]], dtype=float32)

In [38]:
modelC.fit(dfTitanicPredictor, to_categorical(dfTitanic.survived))

Epoch 1/1
891/891 [==============================] - 0s 173us/step - loss: 2.3342 - acc: 0.6117

In [39]:
modelC.fit(dfTitanicPredictor.as_matrix(), to_categorical(dfTitanic.survived.as_matrix()))

Epoch 1/1
891/891 [==============================] - 0s 41us/step - loss: 1.2815 - acc: 0.5881

In [40]:
modelC.predict(dfTitanicPredictor)

array([[ 0.75091338,  0.24908663],
       [ 0.04726952,  0.95273048],
       [ 0.72079116,  0.27920884],
       ...,
       [ 0.2731123 ,  0.7268877 ],
       [ 0.25119469,  0.74880528],
       [ 0.862827  ,  0.13717295]], dtype=float32)

In [41]:
trueProb = modelC.predict(dfTitanicPredictor)[:, 1]

In [42]:
trueProb[:10]

array([ 0.24908663,  0.95273048,  0.27920884,  0.84384453,  0.12899093,
        0.1867795 ,  0.89966273,  0.53434139,  0.53433508,  0.78907675], dtype=float32)

In [43]:
dfTitanic.survived.head(10).as_matrix()

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1])

**Saving and reloading a model**

In [44]:
from keras.models import load_model

In [45]:
modelC.save('./modelClassify.h5')

In [46]:
modelCreload = load_model('./modelClassify.h5')

In [47]:
modelC.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 32)                352
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 66
=================================================================
Total params: 418
Trainable params: 418
Non-trainable params: 0
_________________________________________________________________

In [48]:
modelCreload.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 32)                352
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 66
=================================================================
Total params: 418
Trainable params: 418
Non-trainable params: 0
_________________________________________________________________

In [49]:
modelCreload.predict(dfTitanicPredictor)

array([[ 0.75091338,  0.24908663],
       [ 0.04726952,  0.95273048],
       [ 0.72079116,  0.27920884],
       ...,
       [ 0.2731123 ,  0.7268877 ],
       [ 0.25119469,  0.74880528],
       [ 0.862827  ,  0.13717295]], dtype=float32)

In [50]:
modelC.predict(dfTitanicPredictor)

array([[ 0.75091338,  0.24908663],
       [ 0.04726952,  0.95273048],
       [ 0.72079116,  0.27920884],
       ...,
       [ 0.2731123 ,  0.7268877 ],
       [ 0.25119469,  0.74880528],
       [ 0.862827  ,  0.13717295]], dtype=float32)

In [51]:
input_shapec = (dfTitanicPredictor.shape[1],)

**Checking the cost functions for different learning rates**

In [53]:
def get_new_model(input_shape = input_shapec):
    
    model = Sequential()
    
    model.add(Dense(100, activation='relu', input_shape = input_shape))
    
    model.add(Dense(100, activation='relu'))
    
    model.add(Dense(2, activation='softmax'))
    
    return model

In [54]:
lr_to_test = [0.0001, 0.01, 1]

In [57]:
from keras.optimizers import SGD

In [67]:
for lr in lr_to_test:
    
    print('\n\n Testing model with learning rate: {}'.format(lr))
    
    # Build new model to test for each run
    model = get_new_model()
    
    # Create SGD optimizer with specified learning rate
    my_optimizer = SGD(lr = lr)
    
    # Compile the model
    model.compile(optimizer = my_optimizer, loss = 'categorical_crossentropy')
    
    #Fit the model
    model.fit(dfTitanicPredictor, to_categorical(dfTitanic.survived), epochs=10)

 Testing model with learning rate: 0.0001
Epoch 1/10
891/891 [==============================] - 0s 279us/step - loss: 1.0017
Epoch 2/10
891/891 [==============================] - 0s 36us/step - loss: 0.7371
Epoch 3/10
891/891 [==============================] - 0s 35us/step - loss: 0.6473
Epoch 4/10
891/891 [==============================] - 0s 37us/step - loss: 0.6161
Epoch 5/10
891/891 [==============================] - 0s 34us/step - loss: 0.6095
Epoch 6/10
891/891 [==============================] - 0s 37us/step - loss: 0.6069
Epoch 7/10
891/891 [==============================] - 0s 35us/step - loss: 0.6040
Epoch 8/10
891/891 [==============================] - 0s 39us/step - loss: 0.6058
Epoch 9/10
891/891 [==============================] - 0s 36us/step - loss: 0.6030
Epoch 10/10
891/891 [==============================] - 0s 36us/step - loss: 0.6025


 Testing model with learning rate: 0.01
Epoch 1/10
891/891 [==============================] - 0s 291us/step - loss: 1.8112
Epoch 2/10
891/891 [==============================] - 0s 37us/step - loss: 0.9586
Epoch 3/10
891/891 [==============================] - 0s 37us/step - loss: 0.6758
Epoch 4/10
891/891 [==============================] - 0s 38us/step - loss: 0.6625
Epoch 5/10
891/891 [==============================] - 0s 37us/step - loss: 0.6466
Epoch 6/10
891/891 [==============================] - 0s 38us/step - loss: 0.6417
Epoch 7/10
891/891 [==============================] - 0s 37us/step - loss: 0.6455
Epoch 8/10
891/891 [==============================] - 0s 37us/step - loss: 0.6027
Epoch 9/10
891/891 [==============================] - 0s 35us/step - loss: 0.6057
Epoch 10/10
891/891 [==============================] - 0s 37us/step - loss: 0.6013


 Testing model with learning rate: 1
Epoch 1/10
891/891 [==============================] - 0s 327us/step - loss: 9.6586
Epoch 2/10
891/891 [==============================] - 0s 40us/step - loss: 9.9314
Epoch 3/10
891/891 [==============================] - 0s 39us/step - loss: 9.9314
Epoch 4/10
891/891 [==============================] - 0s 40us/step - loss: 9.9314
Epoch 5/10
891/891 [==============================] - 0s 40us/step - loss: 9.9314
Epoch 6/10
891/891 [==============================] - 0s 41us/step - loss: 9.9314
Epoch 7/10
891/891 [==============================] - 0s 40us/step - loss: 9.9314
Epoch 8/10
891/891 [==============================] - 0s 39us/step - loss: 9.9314
Epoch 9/10
891/891 [==============================] - 0s 41us/step - loss: 9.9314
Epoch 10/10
891/891 [==============================] - 0s 39us/step - loss: 9.9314

**Model validation**

In [60]:
modelC.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics=['accuracy'])

In [61]:
to_categorical(dfTitanic.survived)

array([[ 1.,  0.],
       [ 0.,  1.],
       [ 0.,  1.],
       ...,
       [ 1.,  0.],
       [ 0.,  1.],
       [ 1.,  0.]], dtype=float32)

In [66]:
modelC.fit(dfTitanicPredictor, to_categorical(dfTitanic.survived), validation_split=0.3, epochs=10)

Train on 623 samples, validate on 268 samples
Epoch 1/10
623/623 [==============================] - 0s 50us/step - loss: 0.6282 - acc: 0.6613 - val_loss: 0.5280 - val_acc: 0.7537
Epoch 2/10
623/623 [==============================] - 0s 51us/step - loss: 0.6235 - acc: 0.6565 - val_loss: 0.5265 - val_acc: 0.7761
Epoch 3/10
623/623 [==============================] - 0s 48us/step - loss: 0.6065 - acc: 0.6902 - val_loss: 0.5269 - val_acc: 0.7388
Epoch 4/10
623/623 [==============================] - 0s 49us/step - loss: 0.5969 - acc: 0.6726 - val_loss: 0.5319 - val_acc: 0.7575
Epoch 5/10
623/623 [==============================] - 0s 49us/step - loss: 0.5942 - acc: 0.6838 - val_loss: 0.5362 - val_acc: 0.7052
Epoch 6/10
623/623 [==============================] - 0s 48us/step - loss: 0.5996 - acc: 0.6709 - val_loss: 0.5182 - val_acc: 0.7612
Epoch 7/10
623/623 [==============================] - 0s 47us/step - loss: 0.5812 - acc: 0.6870 - val_loss: 0.5150 - val_acc: 0.7537
Epoch 8/10
623/623 [==============================] - 0s 47us/step - loss: 0.5732 - acc: 0.6902 - val_loss: 0.5076 - val_acc: 0.7537
Epoch 9/10
623/623 [==============================] - 0s 50us/step - loss: 0.5742 - acc: 0.6950 - val_loss: 0.5088 - val_acc: 0.7537
Epoch 10/10
623/623 [==============================] - 0s 47us/step - loss: 0.5752 - acc: 0.6966 - val_loss: 0.5036 - val_acc: 0.7500

**Early stopping**

In [68]:
from keras.callbacks import EarlyStopping

In [71]:
early_stopping_monitor = EarlyStopping(patience=3)

In [73]:
modelC.fit(dfTitanicPredictor, to_categorical(dfTitanic.survived), validation_split=0.3, epochs=20, \
          callbacks=[early_stopping_monitor])

Train on 623 samples, validate on 268 samples
Epoch 1/20
623/623 [==============================] - 0s 57us/step - loss: 0.5162 - acc: 0.7448 - val_loss: 0.4646 - val_acc: 0.7836
Epoch 2/20
623/623 [==============================] - 0s 56us/step - loss: 0.5108 - acc: 0.7673 - val_loss: 0.4578 - val_acc: 0.7948
Epoch 3/20
623/623 [==============================] - 0s 55us/step - loss: 0.5115 - acc: 0.7352 - val_loss: 0.4623 - val_acc: 0.8097
Epoch 4/20
623/623 [==============================] - 0s 52us/step - loss: 0.5088 - acc: 0.7721 - val_loss: 0.4944 - val_acc: 0.7351
Epoch 5/20
623/623 [==============================] - 0s 49us/step - loss: 0.5070 - acc: 0.7705 - val_loss: 0.4565 - val_acc: 0.8060
Epoch 6/20
623/623 [==============================] - 0s 49us/step - loss: 0.5036 - acc: 0.7640 - val_loss: 0.4518 - val_acc: 0.8097
Epoch 7/20
623/623 [==============================] - 0s 58us/step - loss: 0.5129 - acc: 0.7640 - val_loss: 0.4639 - val_acc: 0.8134
Epoch 8/20
623/623 [==============================] - 0s 50us/step - loss: 0.5079 - acc: 0.7737 - val_loss: 0.4486 - val_acc: 0.8060
Epoch 9/20
623/623 [==============================] - 0s 56us/step - loss: 0.4954 - acc: 0.7801 - val_loss: 0.4523 - val_acc: 0.8134
Epoch 10/20
623/623 [==============================] - 0s 48us/step - loss: 0.4991 - acc: 0.7849 - val_loss: 0.4422 - val_acc: 0.8134
Epoch 11/20
623/623 [==============================] - 0s 49us/step - loss: 0.4948 - acc: 0.7785 - val_loss: 0.4404 - val_acc: 0.8134
Epoch 12/20
623/623 [==============================] - 0s 47us/step - loss: 0.4874 - acc: 0.7929 - val_loss: 0.4494 - val_acc: 0.8060
Epoch 13/20
623/623 [==============================] - 0s 48us/step - loss: 0.4897 - acc: 0.7881 - val_loss: 0.4479 - val_acc: 0.8060
Epoch 14/20
623/623 [==============================] - 0s 49us/step - loss: 0.4840 - acc: 0.7865 - val_loss: 0.4687 - val_acc: 0.7948

In [76]:
modelCHistory = modelC.fit(dfTitanicPredictor, to_categorical(dfTitanic.survived), validation_split=0.3, epochs=20, \
          callbacks=[early_stopping_monitor])

Train on 623 samples, validate on 268 samples
Epoch 1/20
623/623 [==============================] - 0s 57us/step - loss: 0.4670 - acc: 0.7929 - val_loss: 0.4235 - val_acc: 0.8022
Epoch 2/20
623/623 [==============================] - 0s 57us/step - loss: 0.4793 - acc: 0.7929 - val_loss: 0.4320 - val_acc: 0.7985
Epoch 3/20
623/623 [==============================] - 0s 51us/step - loss: 0.4664 - acc: 0.7801 - val_loss: 0.4657 - val_acc: 0.7910
Epoch 4/20
623/623 [==============================] - 0s 50us/step - loss: 0.4660 - acc: 0.7961 - val_loss: 0.4407 - val_acc: 0.7948

In [77]:
modelCHistory.history

{'acc': [0.79293740006166702,
  0.79293739996599344,
  0.78009630847321654,
  0.79614767293486133],
 'loss': [0.46703949527602706,
  0.47931505455059953,
  0.46642490776545736,
  0.46599647718486203],
 'val_acc': [0.80223880685977078,
  0.79850746357618874,
  0.79104477611940294,
  0.79477612029260669],
 'val_loss': [0.42346716060567258,
  0.43196948206246788,
  0.46568298651211298,
  0.44071598373242277]}

In [78]:
modelCHistory.history['val_loss']

[0.42346716060567258,
 0.43196948206246788,
 0.46568298651211298,
 0.44071598373242277]

The val_loss and early stopping allow us to experiment with network architecture. For example, having wider networks (adding more nodes) or having deeper networks (adding layers to the network).

#### Define early_stopping_monitor
early_stopping_monitor = EarlyStopping(patience=2)

#### Create the new model: model_2
model_2 = Sequential()

#### Add the first and second layers
model_2.add(Dense(100, activation='relu', input_shape=input_shape))
model_2.add(Dense(100, activation='relu'))

#### Add the output layer
model_2.add(Dense(2, activation = 'softmax'))

#### Compile model_2
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

#### Fit model_1
model_1_training = model_1.fit(predictors, target, epochs=15, validation_split=0.2, callbacks=[early_stopping_monitor], verbose=False)

#### Fit model_2
model_2_training = model_2.fit(predictors, target, epochs=15, validation_split=0.2, callbacks=[early_stopping_monitor], verbose=False)

#### Create the plot
plt.plot(model_1_training.history['val_loss'], 'r', model_2_training.history['val_loss'], 'b')
plt.xlabel('Epochs')
plt.ylabel('Validation score')
plt.show()