### Ref. Datacamp

In [1]:
import pandas as pd

In [9]:
import keras

Using TensorFlow backend.

In [10]:
from keras.layers import Dense

In [11]:
from keras.models import Sequential

In [2]:
dfWages = pd.read_csv('./datasets/hourly_wages.csv')

In [4]:
dfWages.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [5]:
dfWages.shape

(534, 10)

In [6]:
dfWages.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
Xdata = dfWages.drop(['wage_per_hour'], axis = 'columns')

In [13]:
Xdata.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [14]:
ydata = dfWages['wage_per_hour']

In [15]:
Xdata.shape

(534, 9)

Let's start by specifying a model

In [16]:
numberNodes1 = 50
numberNodes2 = 32

In [17]:
model = Sequential()

In [18]:
model.add(Dense(numberNodes1, activation='relu', input_shape = (Xdata.shape[1], )))

In [19]:
model.add(Dense(numberNodes2, activation='relu'))

In [20]:
model.add(Dense(1))

Now that the model has been built, let's compile and fit it

In [21]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [25]:
model.fit(Xdata.values, ydata.values)

Epoch 1/1
534/534 [==============================] - 0s 45us/step - loss: 25.9027

In [24]:
Xdata.values

array([[ 0,  8, 21, ...,  0,  1,  0],
       [ 0,  9, 42, ...,  0,  1,  0],
       [ 0, 12,  1, ...,  0,  1,  0],
       ...,
       [ 1, 17, 25, ...,  0,  0,  0],
       [ 1, 12, 13, ...,  1,  0,  0],
       [ 0, 16, 33, ...,  0,  1,  0]])

In [27]:
model.predict(Xdata.values) - ydata.values

array([[  1.50684013,   1.65684013,  -0.06315987, ..., -16.64315987,
        -13.27315987,  -8.77315987],
       [  4.16958752,   4.31958752,   2.59958752, ..., -13.98041248,
        -10.61041248,  -6.11041248],
       [  0.71289005,   0.86289005,  -0.85710995, ..., -17.43710995,
        -14.06710995,  -9.56710995],
       ...,
       [  5.14730968,   5.29730968,   3.57730968, ..., -13.00269032,
         -9.63269032,  -5.13269032],
       [  1.95480194,   2.10480194,   0.38480194, ..., -16.19519806,
        -12.82519806,  -8.32519806],
       [  5.66977539,   5.81977539,   4.09977539, ..., -12.48022461,
         -9.11022461,  -4.61022461]])

**Classification model**

In [41]:
from keras.utils import to_categorical

In [28]:
dfTitanic = pd.read_csv('./datasets/titanic_all_numeric.csv')

In [30]:
dfTitanic.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [31]:
dfTitanic.shape

(891, 11)

In [36]:
dfTitanicPredictor = dfTitanic.drop('survived', axis='columns')

In [33]:
modelC = Sequential()

In [37]:
modelC.add(Dense(32, activation='relu', input_shape=(dfTitanicPredictor.shape[1],)))

In [38]:
modelC.add(Dense(2, activation='softmax'))

In [39]:
modelC.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

In [43]:
dfTitanic.survived.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [44]:
to_categorical(dfTitanic.survived.head())

array([[ 1.,  0.],
       [ 0.,  1.],
       [ 0.,  1.],
       [ 0.,  1.],
       [ 1.,  0.]], dtype=float32)

In [45]:
modelC.fit(dfTitanicPredictor, to_categorical(dfTitanic.survived))

Epoch 1/1
891/891 [==============================] - 0s 166us/step - loss: 1.5471 - acc: 0.6352

In [48]:
modelC.fit(dfTitanicPredictor.as_matrix(), to_categorical(dfTitanic.survived.as_matrix()))

Epoch 1/1
891/891 [==============================] - 0s 37us/step - loss: 0.6904 - acc: 0.6487

In [49]:
modelC.predict(dfTitanicPredictor)

array([[ 0.74236304,  0.25763699],
       [ 0.34001344,  0.6599865 ],
       [ 0.73422968,  0.26577029],
       ...,
       [ 0.63867033,  0.36132962],
       [ 0.54621506,  0.45378497],
       [ 0.834194  ,  0.16580604]], dtype=float32)

In [50]:
trueProb = modelC.predict(dfTitanicPredictor)[:, 1]

In [54]:
trueProb[:10]

array([ 0.25763699,  0.6599865 ,  0.26577029,  0.56602931,  0.16300234,
        0.1855381 ,  0.36307362,  0.40973845,  0.26999205,  0.55789208], dtype=float32)

In [56]:
dfTitanic.survived.head(10).as_matrix()

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1])

**Saving and reloading a model**

In [57]:
from keras.models import load_model

In [58]:
modelC.save('./modelClassify.h5')

In [59]:
modelCreload = load_model('./modelClassify.h5')

In [61]:
modelC.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 32)                352
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 66
=================================================================
Total params: 418
Trainable params: 418
Non-trainable params: 0
_________________________________________________________________

In [62]:
modelCreload.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 32)                352
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 66
=================================================================
Total params: 418
Trainable params: 418
Non-trainable params: 0
_________________________________________________________________

In [63]:
modelCreload.predict(dfTitanicPredictor)

array([[ 0.74236304,  0.25763699],
       [ 0.34001344,  0.6599865 ],
       [ 0.73422968,  0.26577029],
       ...,
       [ 0.63867033,  0.36132962],
       [ 0.54621506,  0.45378497],
       [ 0.834194  ,  0.16580604]], dtype=float32)

In [64]:
modelC.predict(dfTitanicPredictor)

array([[ 0.74236304,  0.25763699],
       [ 0.34001344,  0.6599865 ],
       [ 0.73422968,  0.26577029],
       ...,
       [ 0.63867033,  0.36132962],
       [ 0.54621506,  0.45378497],
       [ 0.834194  ,  0.16580604]], dtype=float32)